{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Back Office | Ajouter un produit {% endblock %}

{% block h1 %}Ajouter un produit{% endblock %}

{% block body %}


<a class="btn btn-dark ms-3" href="{{ path("app_admin_produit_show") }}">Retour</a>

<div class="col-md-8 mx-auto">
    {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.titre)}}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prix)}}
            </div>
        </div>

    {{ form_row(form.description) }}

    {{ form_row(form.image) }} 

    <div id="zone" class="text-center"></div>

    <input type="submit" value="Ajouter" class="btn btn-danger col-md-12 mt-3">

    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}
<script>

    function loadFile(event)
    {
        let zone = document.getElementById("zone");
        zone.innerHTML="";

        let image = document.createElement("img");
        image.setAttribute('src', URL.createObjectURL(event.target.files[0]));
        image.setAttribute('class', 'img200');

        zone.append(image);
    }
</script>


{% endblock %}
